.right-banner-bottom {
  background-color: #dfe5ea;
  height: 75%;
  width: 85%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.right-banner-details-top {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.right-banner-box {
  display: flex;
  justify-content: space-between;
  height: 1.4rem;
  margin-bottom: 10px;
  padding: 0 0.7rem;
  text-transform: capitalize;
}

.right-banner-box span {
  font-size: 11px;
  color: #666;
}

.right-banner-box b {
  font-size: 11px;
  color: #1e2a53;
}

.right-banner-details-bottom {
  height: 20%;
  width: 100%;
  padding: 0 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-banner-details-bottom div:nth-of-type(1) span {
  display: block;
  font-size: 12px;
  color: #666;
}

.right-banner-details-bottom div:nth-of-type(1) b {
  font-size: 14px;
  color: #1e2a53;
}

@media (max-width: 1100px) {
  .right-banner-bottom {
    background-color: #dfe5ea;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .right-banner-details-top {
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
